@import './pages/base.css';

:root {
    --color-green: rgb(70, 212, 54);
    --color-cyan: rgb(131, 222, 255);
}

/* fullpage nav thing style */

body {
    background-color: var(--color-background);
    background-image: none;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background-color: var(--color-font);
}


.section {
    display: flex;
    align-items: center;
    max-height: 100svh;
}

p {
    padding: 0vmin;
    margin: 2vmin;
    font-size: 6vmin;
    font-family: 'Quicksand', sans-serif;
}

.s1 {
    background-image: url("./media/outline.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80vmin;
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2vmin;
}

#s1-tcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: wrap;
    align-content: center;
    min-width: 100%;
    overflow: hidden;
}

@media (max-width: 1000px) {
    .s1 {
        padding: 2rem;
    }

    #s1-tcontainer {
        flex-direction: column;
    }
}

.s1 #mainlogo {
    display: block;
    height: 25vh;
    background-image: url(./media/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.s1 h1 {
    font-size: 10vmin;
    display: block;
    align-self: center;
    text-align: center;
    background-image: radial-gradient(circle at bottom left, var(--color-cyan), var(--color-green));
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

@keyframes slideInBottom {
    from {
        transform: translateY(25%);
        opacity: 0%;
    }

    to {
        transform: translateY(0%);
        opacity: 100%;
    }
}

.s1 p {
    display: inline-block;
    padding: 0vmin;
    margin: 2vmin;
    font-size: 8vmin;
    font-family: 'Quicksand', sans-serif;
    opacity: 0;
}

.s1 #s1-t1 {
    animation: slideInBottom 1s ease-in 0s 1 forwards;
}

.s1 #s1-t2 {
    animation: slideInBottom 1s ease-in-out 1s 1 forwards;
}

.s1 #s1-t3 {
    animation: slideInBottom 1s ease-in-out 2s 1 forwards;
}

.s2 {
    min-width: 100%;
    min-height: 100%;
}

.s2 video {
    background: black;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    object-fit: cover;
    filter: brightness(.5) saturate(1);
}

.s2 .content {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    top: 0;
    left: 0;
    object-fit: cover;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
}

.s2 h1 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 15vmin;
    text-align: right;
    word-wrap: break-word;
    max-width: 80vw;
}

.s2 p {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    align-self: flex-end;
    text-align: left;
    position: absolute;
    bottom: 20vh;
    left: 5vw;
    padding: 2vw;
    max-width: 80vw;
    max-height: 100svh;

}


.s3 {
    /* background-image: radial-gradient(circle at top right, rgb(70, 212, 54), rgb(131, 222, 255)); */
    background-image: url(https://placehold.co/1920x1080.png?text=Placeholder);
    background-size: cover;
    overflow: hidden;
    color: white;
    display: flex;
    align-items: center;

}

.s3 h1 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 8rem;
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to left, var(--color-blue), var(--color-orange));
    background-size: contain;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

.s4 {
    background-image: url(./media/colour_wire.webp);
    background-position: center;
    background-size: auto 50vmin;
    background-repeat: no-repeat;
}

.s4 h1 {
    font-family: 'Rajdhani';
    font-size: 10vmin;

    position: absolute;
    top: 5vh;
    left: 5vw;
    background-image: linear-gradient(to top right, #d50d0d, #b40dc7);
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

.s4 p {
    font-size: 3rem;
    position: absolute;
    bottom: 5vh;
    right: 5vw;
}

.s5 {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    background-image: linear-gradient(to top right, #d50d0d, #b40dc7);
    background-position: cover;
    color: white;
    overflow: hidden;
}

.s5 h1 {
    font-family: 'Rajdhani';
    font-size: 8vmin;
    text-align: center;
    display: block;
}



.s5 .option {
    display: inline-block;
    margin: 4vmin;
    padding: 2vmin;
    border: 0.1rem solid #ffffff;
    border-radius: 2vmin;
    background-color: rgba(163, 163, 163, 0.548);
    color: rgb(255, 255, 255);
    overflow: hidden;
    transition-duration: 0.5s;
}

@media (min-width: 1001px) {
    .s5 .option {
        min-width: 24vw;
        max-width: 25vw;
        height: 40vh;
    }

    .s5 .option-wrap {
        display: inline;
    }
}

@media (max-width: 1000px) {
    .s5 .option {
        margin: 5rem 0;
        height: 60vh;
        width: 70vw;
        overflow: hidden;
    }

    .option-wrap {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.s5 .option:hover:not(.disabled) {
    transform: translateY(-1rem);
    background-color: rgba(255, 255, 255, 0.586);
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.13)
}

.s5 .option h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.s5 .option h2 {
    font-family: sans-serif;
    text-align: center;
    font-size: 2rem;
    padding: .5rem;
}

.s5 .option ul {
    font-family: 'Quicksand', sans-serif;
}

.s5 .disabled {
    filter: saturate(0.2) brightness(0.8);
}