@import "./base.css";

h1 {
    font-family: 'Rajdhani', sans-serif;
}

#details {
    display: table;
    max-width: 50%;
}

@media screen and (min-width: 1001px) {

    dialog {
        padding: 3rem;
        background-color: color-mix(in srgb, var(--color-input-background), black 20%);
        color: var(--color-font);
        border: 0.1rem solid var(--color-border);
        border-radius: 1rem;
        overflow: hidden;
    }

    button {
        margin: .5rem 25%;
    }
}

@media screen and (max-width: 1000px) {

    dialog {
        padding: 3rem;
        background-color: color-mix(in srgb, var(--color-input-background), black 20%);
        color: var(--color-font);
        border: 0.1rem solid var(--color-border);
        border-radius: 1rem;
        overflow: hidden;
        margin: auto 2rem;
    }

    button {
        margin: .5rem, auto;
    }
}


dialog h2 {
    text-align: center;
}

button {
    padding: var(--input-padding) 5rem;
    object-fit: contain;
    border: 0.1rem solid var(--color-border);
    border-radius: 0.5rem;
    background-color: var(--color-input-background);
    color: var(--color-font);
    transition-duration: 700ms;
}

button:hover {
    background-color: color-mix(in srgb, var(--color-input-background) 60%, white 40%);
}


dialog::backdrop {
    backdrop-filter: blur(3px);
}